<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <meta name="keywords" content="graphin,g6,graph,Graphin,AntV Graph" />
    <link
      0="h"
      1="t"
      2="t"
      3="p"
      4="s"
      5=":"
      6="/"
      7="/"
      8="g"
      9="w"
      10="."
      11="a"
      12="l"
      13="i"
      14="p"
      15="a"
      16="y"
      17="o"
      18="b"
      19="j"
      20="e"
      21="c"
      22="t"
      23="s"
      24="."
      25="c"
      26="o"
      27="m"
      28="/"
      29="o"
      30="s"
      31="/"
      32="l"
      33="i"
      34="b"
      35="/"
      36="a"
      37="n"
      38="t"
      39="d"
      40="/"
      41="4"
      42="."
      43="6"
      44="."
      45="6"
      46="/"
      47="d"
      48="i"
      49="s"
      50="t"
      51="/"
      52="a"
      53="n"
      54="t"
      55="d"
      56="."
      57="c"
      58="s"
      59="s"
    />
    <link rel="stylesheet" href="/umi.50af996f.css" />
    <script>
      window.routerBase = "/";
    </script>
    <script>
      //! umi version: 3.3.7
    </script>
    <title>自定义布局</title>
  </head>
  <body>
    <div id="root"></div>

    <script src="https://gw.alipayobjects.com/os/lib/react/16.13.1/umd/react.development.js"></script>
    <script src="https://gw.alipayobjects.com/os/lib/react-dom/16.13.1/umd/react-dom.development.js"></script>
    <script src="https://gw.alipayobjects.com/os/lib/antd/4.6.6/dist/antd-with-locales.js"></script>
    <script src="https://gw.alipayobjects.com/os/lib/antv/g6/4.1.7/dist/g6.min.js"></script>
    <script src="https://gw.alipayobjects.com/os/lib/antv/g6/4.1.7/dist/g6.min.js.map"></script>
    <script src="https://gw.alipayobjects.com/os/lib/lodash/4.17.20/lodash.min.js"></script>
    <script>
      (function () {
        if (!location.port) {
          (function (i, s, o, g, r, a, m) {
            i["GoogleAnalyticsObject"] = r;
            (i[r] =
              i[r] ||
              function () {
                (i[r].q = i[r].q || []).push(arguments);
              }),
              (i[r].l = 1 * new Date());
            (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m);
          })(
            window,
            document,
            "script",
            "//www.google-analytics.com/analytics.js",
            "ga"
          );
          ga("create", "UA-148148901-8", "auto");
          ga("send", "pageview");
        }
      })();
    </script>
    <script src="/umi.ff7f38e1.js"></script>
  </body>
</html>
